.pi-stock{
  max-width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;

}
.symbol{
  color:$brand-primary;
}
.stock-price-div{
  font-weight: 300;
  font-size: 21px;
  text-align: center;
  padding-top: 10px;
}
.stock-price{
  font-weight: 600;
}
.label{
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
.green{
  color: #17ed17;
}
.red{
  color: #d9534f;
}