.highcharts-legend-item text {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 15px !important;
  color: $inactive-font-color !important;
  fill: $inactive-font-color !important;
}
