<div class="row margin-top" ng-if="data.form_visibility">
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Origin" ng-model="data.place_origin">
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Destination" ng-model="data.place_destination">
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <select class="form-control" ng-options="item as item for item in data.transit_mode_all track by item" ng-model="data.transit_mode"></select>
    </div>
  </div>

  <div class="col-md-1">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Zoom level" ng-model="data.map_zoom">
    </div>
  </div>

  <div class="col-md-1">
    <a class="btn btn-primary" href="javascript:void(0)" role="button" ng-click="c.cleanForm()">Reset</a>
  </div>

</div>

<div class="row margin-top" ng-if="data.place_origin.length>0 && data.place_destination.length>0">
  <ng-map>
    <directions draggable="true" zoom="{{data.map_zoom}}" panel="directions-panel" travel-mode="{{data.transit_mode.toUpperCase()}}" origin="{{data.place_origin}}"
      destination="{{data.place_destination}}">
    </directions>
  </ng-map>
  <div id="directions-panel" clas="row">
  </div>
</div>

<div class="row margin-top" ng-if="data.place_origin.length>0 && data.place_destination.length==0">
  <ng-map zoom="{{data.map_zoom}}" center="{{data.place_origin}}" />
</div>