$pe-tabs-selector-bg-color: #373737 !default;
$pe-tabs-selector-bg-active-color: #4d4d4d !default;
$pe-tabs-selector-text-color: #9c9c9c !default;
$pe-tabs-selector-text-active-color: #fff !default;

.provider-switcher {
  //padding: 10px;
  background: #4a4545;
  color: $pe-tabs-selector-text-active-color;
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
  .scroll-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    // Toggle this depending upon whether you want to see the scrollbar
    &::-webkit-scrollbar {
      display: none;
    }
    .inner-wrapper {
      min-width: 500px;
      &:after {
        content: " ";
        display: block;
        clear: both;
      }
    }
  }
  .heading {
    margin: 0;
    text-align: center;
    padding: 10px;
  }
  .border-none {
    border: 0px !important;
  }
  .provider-filters {
    .all-filter {
      width: 120px;
      float: left;
      font-size: 18px;
      padding: 14px;
      background: $pe-tabs-selector-bg-color;
      color: $pe-tabs-selector-text-color;
      //border-right: 1px solid #fff;
    }
    .each-filter {
      padding: 10px;
      width: 120px;
      height: 53px;
      font-size: 18px;
      float: left;
      display: flex;
      color: $pe-tabs-selector-text-color;
      align-items: center;
      justify-content: space-around;
      background: $pe-tabs-selector-bg-color;
      //border-right: 1px solid #fff;
      .provider-logos {
        height: 27px;
      }
    }
  }
}

.active {
  background: $pe-tabs-selector-bg-active-color;
  color: $pe-tabs-selector-text-active-color;
}

.remove-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.remove-margin-bottom {
  margin-bottom: 0px;
}

.aws-icon {
  fill: #9c9c9c;
  height: 23px;
  width: 27px;
}

.aws-icon-active {
  fill: orange;
  height: 23px;
  width: 27px;
}

.vmware-icon {
  fill: #9c9c9c;
  height: 14px;
  width: 80px;
}

.vmware-icon-active {
  fill: #fff;
  height: 14px;
  width: 80px;
}

.azure-icon {
  fill: #9c9c9c;
  height: 23px;
  width: 27px;
}

.azure-icon-active {
  fill: #32A6DC;
  height: 23px;
  width: 27px;
}
