.tier-widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    .box {
        width: 20%;
        text-align: center;
        .top-box{
            height: 35px;
        }
        p {
            margin-bottom: 0px;
        }
        .sub-text {
            font-size: 12px;
            color: #b4b2b3;
            text-transform: uppercase;
            font-weight: bold;
        }
        .badge {
            padding: 5px 10px;
            border-radius: 5px;
            text-transform: uppercase;
        }
        .fa{
            color: #65666a;
        }
    }
    .percent-box {
        .percentage {
            font-size: 24px;
            color: #65666a;
            font-weight: bold;
        }
    }
}
