h4{
    font-weight:bold;
  }
  
  .card-text{
    margin-top:40px;
    border-top: 1px solid black;
    color: black;
  }
  
  .thumbnail{
    border-radius: 0 !important;
  }
  
  .circle-green{
    color: #33ab45;
  }
  .circle-red{
    color: #d92912;
  }
  
  .circle-yellow{
    color: #e0cc27;
  }
  .circle-blue{
    color: #0085d2;
  }
  .circle-gray{
    color: #dcd8d9;
  }
  span{
    h5{
      color:black !important; 
      display:inline;
      font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
    }
  }
  .search-cases{
    display:flex;
  }
  
  .card-body{
    margin: 15px !important;
  }
  
  .link{
    text-align: right;
    padding-top: 40px;
  }
  
  .search-cases{
    float:right;
  }
  .container.search{
    padding-bottom: 20px;
    padding-top:20px;
  }
  .btn.btn-primary.space{
    color: #fff;
    background-color: #29250d;
    border-color: #29250d;
    border-radius: 50px; 
  }
  .my-button{
    margin-left:20px; 
  }