node_modules/*
highcharts/*

# TODO: Update widgets to pass ESLint check
src/pe-big-link-to/widget/pe-big-link-to.u-client-script.js
src/pe-collapsible-form/widget/pe-collapsible-form.u-client-script.js
src/pe-highlight-user-assets/widget/pe-highlight-user-assets.u-client-script.js
src/pe-multi-screen-catalog-item/widget/pe-multi-screen-catalog-item.u-client-script.js
src/pe-multi-screen-catalog-item/widget/pe-multi-screen-catalog-item.u-link-script.js
src/pe-nav-typeahead-search-collapsed/widget/pe-nav-typeahead-search-collapsed.u-client-script.js
src/pe-navigation-left-collapsible/widget/pe-navigation-left-collapsible.u-client-script.js
src/pe-navigation-left-collapsible/widget/pe-navigation-left-collapsible.u-link-script.js
src/pe-order-overview/widget/pe-order-overview.u-client-script.js
src/pe-popular-and-recent-items/widget/pe-popular-and-recent-items.u-client-script.js
src/pe-search-as-direct-reports/widget/pe-search-as-direct-reports.u-client-script.js
src/pe-small-link-to/widget/pe-small-link-to.u-client-script.js
src/pe-nav-typeahead-search-collapsed/widget/pe-nav-typeahead-search-collapsed.u-link-script.js
src/pe-typeahead-search-flat-rounded-ends/widget/pe-typeahead-search-flat-rounded-ends.u-link-script.js
src/pe-welcome-time-of-day/widget/pe-welcome-time-of-day.u-client-script.js
src/pe-typeahead-search-flat-rounded-ends/widget/pe-typeahead-search-flat-rounded-ends.u-client-script.js
src/pe-business-process-visualizer/widget/pe-business-process-visualizer.u-client-script.js
src/pe-business-process-visualizer/widget/pe-business-process-visualizer.u-link-script.js