{
  "rules": {
    "comma-dangle": 2,
    "comma-spacing": 1,
    "default-case": 2,
    "eqeqeq": 1,
    "indent": [1, 2],
    "no-alert": 1,
    "no-console": 1,
    "no-debugger": 1,
    "no-duplicate-case": 2,
    "no-eval": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-magic-numbers": 0,
    "no-multi-spaces": 1,
    "no-new-func": 2,
    "no-octal": 2,
    "no-proto": 2,
    "no-redeclare": 1,
    "no-shadow-restricted-names": 2,
    "no-sparse-arrays": 2,
    "no-trailing-spaces": 1,
    "no-void": 0,
    "no-with": 2,
    "quotes": [1, "single"],
    "semi": [1, "always"],
    "valid-jsdoc": 0,
    "valid-typeof": 0,
    "wrap-iife": [0, "inside"],
    "yoda": 0
  }
}