.sn-config.json
.sn-sync_data.json
node_modules/
.yo-rc.json
/config.codekit
/config.rb
/dist/stylesheets/*
/dist/bower_components
/.nvmrc
/.sass-cache/
**.DS_Store
.idea/
**/*.sketch
.vscode/
typings/
typings.json