<div ng-include="'pe-people-card-flyout-svgs'"></div>
<div class="row people-card-flyout">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="c.toggleTrends()">{{::options.title}}
        <i class="pull-right">
        <div ng-hide="c.isVisible === true">
          <svg class="add-circle">
            <use xlink:href="#add-circle"></use>
          </svg>
        </div>
        <div ng-hide="c.isVisible === false">
          <svg class="close-circle">
            <use xlink:href="#close-circle"></use>
          </svg>
        </div>
        </i>
      </div>
      <div class="panel-body">
        <div class="row text-center">
          <div class="col-xs-4">
            <h4>{{options.number1}}</h4>
            <p class="sub-text">{{options.subText1}}</p>
          </div>
          <div class="col-xs-4">
            <h4 class="header-left-icon">
              <svg class="star-ribbon">
                <use xlink:href="#star-ribbon"></use>
              </svg><span>{{options.number2}}</span>
            </h4>
            <p class="sub-text">{{options.subText2}}</p>
          </div>
          <div class="col-xs-4">
            <h4>{{options.number3}}%</h4>
            <p class="sub-text">{{options.subText3}}</p>
          </div>
        </div>
      </div>
      <div ng-hide="c.isVisible == false" class="panel-vips">
        <div class="panel-heading">
          <svg class="star-ribbon pull-left">
            <use xlink:href="#star-ribbon"></use>
          </svg>
          VIP<span class="lower-case">s</span>
          <span class="pull-right">Last Opened</span>
        </div>
        <div class="panel-body">
          <div class="row" ng-repeat="user in c.data.users">
            <div class="col-xs-2">
              <div class="photo">
                <img class="img-circle" ng-src="{{user.photo.display_value}}">
              </div>
            </div>
            <div class="col-xs-7">
              <h5>{{user.first_name.display_value}} {{user.last_name.display_value}}</h5>
              <p class="user-sub-text">{{user.title.display_value}}</p>
            </div>
            <div class="col-xs-3">
              <span class="badge">{{user.time_ago || '18m'}} ago</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>