<div class="panel panel-{{ options.color }} b">
    <div class="panel-heading form-inline" ng-hide="options.hide_header">
      <span class="dropdown m-r-xs">
        <button aria-label="${Table menu}" class="btn dropdown-toggle glyphicon glyphicon-menu-hamburger"
                style="line-height: 1.4em" id="optionsMenu" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="optionsMenu">
          <li ng-repeat="t in ::exportTypes">
            <a ng-href="/{{ data.table }}_list.do?{{ ::t.value }}&sysparm_query={{ data.filter }}&sysparm_view={{ data.view }}&sysparm_fields={{ data.fields }}"
               target="_new">${Export as} {{ ::t.label }}</a>
          </li>
        </ul>
      </span>
        <span class="panel-title"><i ng-if="options.glyph"
                                     class="fa fa-{{ options.glyph }} m-r"></i>{{ data.title || data.table_plural }}</span>
        <button name="new" role="link" class="btn btn-primary btn-sm m-l-xs" ng-click="newRecord()"
                ng-if="options.show_new && data.canCreate && !data.newButtonUnsupported"
                aria-label="${Create new record}">${New}
        </button>
        <div class="pull-right" ng-if="options.show_keywords">
            <form ng-submit="setSearch(true)">
                <div class="input-group">
                    <input type="text" name="datatable-search" ng-model="data.keywords"
                           ng-model-options="{debounce:250}" class="form-control" placeholder="${Keyword Search}">
                    <span class="input-group-btn">
            <button name="search" class="btn btn-default" type="submit" aria-label="${Search}"><span
                        class="glyphicon glyphicon-search"></span></button>
          </span>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- body -->
    <div class="panel-body">
        <h2 class="sr-only data-table-title">{{ data.title || data.table_plural }} ${table} - ${page} {{ data.p }}</h2>
        <div ng-if="options.show_breadcrumbs && (data.filter || data.enable_filter)" class="filter-breadcrumbs">
            <sp-widget widget="data.filterBreadcrumbs"></sp-widget>
        </div>
        <div class="alert alert-info"
             ng-if="!data.list.length && !data.num_pages && !data.invalid_table && !loadingData">
            ${No records in {{ data.table_label }} <span ng-if="data.filter">using that filter</span>}
        </div>
        <div class="alert alert-info" ng-if="loadingData">
            <fa name="spinner" spin="true"></fa>
            ${Loading data}...
        </div>
        <table class="table table-striped table-responsive" ng-if="data.list.length">
            <thead>
            <tr>
                <th class="sr-only"></th>
                <th ng-repeat="field in data.fields_array track by $index" class="text-nowrap"
                    ng-click="setOrderBy(field)" tabindex="0">
                    <div class="th-title"
                         aria-label="${Sort by } {{ data.column_labels[field] }}">{{ data.column_labels[field] }}</div>
                    <i class="fa" ng-if="field == data.o"
                       ng-class="{'asc': 'fa-chevron-up', 'desc': 'fa-chevron-down'}[data.d]"
                       aria-label="${Sorted by } {{ data.column_labels[field] }} {{ data.d == 'asc' ?  '${Ascending}': '${Descending}' }}"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data.list track by item.sys_id">
                <td class="sr-only" tabindex="0" role="link" ng-click="go(data.table, item)"
                    aria-label="${Open record}"></td>
                <td role="text" aria-label="{{ item[field].display_value }}" class="pointer sp-list-cell"
                    ng-class="{selected: item.selected}"
                    ng-repeat="field in ::data.fields_array" data-field="{{ ::field }}"
                    data-th="{{ ::data.column_labels[field] }}">


                    <div ng-if="!c.options.inline_editing" ng-click="go(data.table, item)">
                        {{ ::item[field].display_value }}
                    </div>

                    <div ng-if="c.options.inline_editing">
                        <div ng-if="item[field].inline" class="inline-field">
                            <sp-editable-field-2 block="true" table="{{ data.table }}" editable-by-user="true"
                                                 table-id="item.sys_id"
                                                 field-model="item[field].inline"></sp-editable-field-2>
                        </div>

                        <span ng-if="!item[field].inline" ng-click="c.makeEditable(item,field)">
                        {{ ::item[field].display_value }}
                    </span>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <div ng-class="{'pruned-msg-filter-pad': (!options.show_breadcrumbs || !data.filter) && !data.list.length}"
             class="pruned-msg" ng-if="rowsWerePruned()">
        <span ng-if="rowsPruned == 1">${{ {rowsPruned}} row removed by security constraints}</span>
            <span ng-if="rowsPruned > 1">${{ {rowsPruned }} rows removed by security constraints}</span>
        </div>
    </div>
    <!-- footer -->
    <div class="panel-footer" ng-hide="options.hide_footer" ng-if="data.row_count">
        <div class="btn-toolbar m-r pull-left">
            <div class="btn-group">
                <a ng-disabled="data.p == 1" href="javascript:void(0)" ng-click="setPageNum(data.p - 1)"
                   class="btn btn-default" aria-label="${Previous page}"><i class="fa fa-chevron-left"></i></a>
            </div>
            <div ng-if="data.num_pages > 1 && data.num_pages < 20" class="btn-group">
                <a ng-repeat="i in getNumber(data.num_pages) track by $index" ng-click="setPageNum($index + 1)"
                   href="javascript:void(0)" ng-class="{active: ($index + 1) == data.p}" type="button"
                   class="btn btn-default" aria-label="${Page} {{$index + 1}}">{{$index + 1}}</a>
            </div>
            <div class="btn-group">
                <a ng-disabled="data.p == data.num_pages" href="javascript:void(0)" ng-click="setPageNum(data.p + 1)"
                   class="btn btn-default" aria-label="${Next page}"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="m-t-xs panel-title">${Rows {{data.window_start + 1}} - {{ mathMin(data.window_end,data.row_count) }}
            of {{ data.row_count }}}
        </div>

        <span class="clearfix"></span>
    </div>
</div>
