<div class="vms-status-tabs">
  <div class="three-tabs row">
    <div class="all-tabs">
      <div class="each-tab" ng-click="c.selectedTab = 'expired'" ng-class="{'active': c.selectedTab === 'expired'}">
        <p class="badge circle-badge" ng-class="c.tabs.firstTab.badgeColor">{{::c.tabs.firstTab.badgeNumber}}</p>
        <p class="name">{{::c.tabs.firstTab.name}}</p>
      </div>
      <div class="each-tab" ng-click="c.selectedTab = 'expiring'" ng-class="{'active': c.selectedTab === 'expiring'}">
        <p class="badge circle-badge" ng-class="c.tabs.secondTab.badgeColor">{{::c.tabs.secondTab.badgeNumber}}</p>
        <p class="name">{{::c.tabs.secondTab.name}}</p>
      </div>
      <div class="each-tab" ng-click="c.selectedTab = 'new'" ng-class="{'active': c.selectedTab === 'new'}">
        <p class="badge circle-badge" ng-class="c.tabs.thirdTab.badgeColor">{{::c.tabs.thirdTab.badgeNumber}}</p>
        <p class="name">{{::c.tabs.thirdTab.name}}</p>
      </div>
    </div>
    <div class="tab-details">
      <div ng-show="c.selectedTab === 'expired'">
        <div class="tab-details" ng-class-even="'light-grey-bg'">
          <p>Tab 1</p>
        </div>
      </div>
      <div ng-show="c.selectedTab === 'expiring'">
        <div class="tab-details" ng-class-even="'light-grey-bg'">
          <p>Tab 2</p>
        </div>
      </div>
      <div ng-show="c.selectedTab === 'new'">
        <div class="tab-details" ng-class-even="'light-grey-bg'">
          <p>Tab 3</p>
        </div>
      </div>
    </div>
  </div>
</div>