html, body
{
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.fa.fa-check-circle{
  color: #5cb85c;
}

.fa.fa-minus-circle{
  color:  #f0ad4e;
}

.fa.fa-exclamation-circle{
  color:  #d64f50;
}
