<div class="row">
    <div class="col-xs-12">
        <div class="user-header" ng-hide="$root.title">
            <img ng-if="user.photo" class="user-avatar-pic" src="{{user.photo+'?t=small'}}" alt="">
            <div class="user-greeting">
                <div class="title">${wluTitle}, {{::user.first_name}}</div>
                <div class="subtitle">${wluSubtitle}</div>
            </div>
            <div class="notification-icon text-center" ng-click="c.showNotification = !c.showNotification" ng-show="c.notificationNum>0">
                <div class="number">{{c.notificationNum}}</div>
                <div class="notification-label"> ${wluNotificationsLabel}</div>
            </div>
            <div class="notification" ng-show="c.showNotification">
                <div class="notification-wrapper">
                    <div class="tip">
                        <svg width="40px" height="19px" viewBox="284 0 40 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs></defs>
                            <path d="M301.176907,1.82309264 C302.736058,0.263941627 305.266262,0.266262345 306.823093,1.82309264 L324,19 L284,19 L301.176907,1.82309264 Z"
                                id="Triangle" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                        </svg>
                    </div>
                    <h2>${wluNotificationTitle}</h2>
                    <div class="row">
                        <div class="col-md-12" ng-if="c.notificationBodyText">{{c.notificationBody}}</div>
                        <div class="col-md-12" ng-if="!c.notificationBodyText" ng-bind-html="c.notificationBody"></div>
                    </div>
                    <div class="actions text-center">
                        <button class="btn btn-primary" ng-click="c.action()">${wluNotificationActionLabel}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>