h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

.related-articles {
  ul {
    li {
      span {
        color: #578fae;
      }
    }
  }
}

.deposit-info {
  margin-top: 15px;
  border-top: 1px solid #dbdad7;
  padding-top: 15px;
}
