$list-item-color: #ff6f00;

.expanded {
  .panel-proper {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .panel-drawer {
    transform: translateY(0);
  }
  .panel-drawer-wrapper {
    max-height: 1000px; // what is the biggest the drawer might get?
  }
}

.panel-wrapper {
  margin-bottom: 10px;
}

.panel-wrapper.expanded-wrapper {
  height: 900px;
}

.panel-proper {
  background-color: #fff;
  border-radius: 5px;
  transition: box-shadow 0.5s;
}

.panel-header {
  position: relative;
  padding: 7px 12px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 0.5px solid #7E848B;
}

.counter {
  display: inline-block;
  background-color: #7e848b;
  width: 22px;
  height: 22px;
  fill: #fff;
  color: #fff;
  text-align: center;
  border-radius: 11px;
  margin: 0 2px;
  font-weight: 400;
  &:first-child {
    margin-left: -5px;
  }
}

.timeline-icon {
  display: inline-block;
  background-color: #7e848b;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  border-radius: 11px;
  position: absolute;
  top: 0px;
  left: -6.5px;
  &:first-child {
    margin-left: -5px;
  }
}

.tl-icon {
  color: #fff;
  position: absolute;
  top: 0px;
  left: -5px;
  text-align: center;
}

.panel-content {
  padding: 12px;
}

.stat-text {
  vertical-align: middle;
}

.tl-time {
  font-size: 14px;
  opacity: 0.7;
  display: inline-block;
  width: 40px;
  vertical-align: top;
}

.tl-item {
  font-size: 14px;
  opacity: 0.7;
}

.tl-time {
  display: inline-block;
  width: 40px;
  vertical-align: top;
}

.tl-item.not-faded {
  opacity: 1;
}

.tl-item.tl-item-summary {
  opacity: 1;
  .tl-icon {
    color: #fff;
  }
}

.tl-item:last-child {
  opacity: 1;
  .tl-content {
    border-left-color: rgba(0, 0, 0, 0);
  }
}

.tl-content {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 265px;
  border-left: 1px solid #485563;
  padding: 0 5px 5px 20px;
}

.tl-content>* {
  margin-bottom: 5px;
}

.key-value {
  color: $list-item-color;
  fill: $list-item-color;
  font-size: 36px;
  font-weight: 200;
  height: 40px;
  white-space: nowrap;
  line-height: 1;
  &.key-smaller {
    font-size: 24px;
    height: 24px;
  }
  &.key-bigger {
    font-size: 44px;
    height: 44px;
  }
}

.icon-inline {
  vertical-align: middle;
}

.subtitle {
  font-size: 15px;
  padding-top: 4px;
}

.expander-button-wrapper {
  text-align: center;
  margin: 10px 0;
}

.expander-button {
  display: inline-block;
  padding: 3px 10px;
  border-right: 1px solid #7e848b;
}

.expander-button:last-child {
  border-right: none;
}