<div class='tph-frame'>
    <div class='tph-frame-title'>{{::tph.data.frame.title}}</div>
    <div class='tph-frame-subtitle'>{{::tph.data.frame.subtitle}}</div>
    <div ng-class="{'tph-cards': $first }" ng-repeat='card in tph.data.cards' ng-init="cardIndex=$index">
        <div class='tph-innercard' ng-class="{'tph-status-1': card.status===1,'tph-status-2': card.status===2}">
            <div class='tph-innercard-title'>
                <div class='tph-innercard-text'>{{::card.name}}</div>
            </div>
            <div id='crdTab{{::cardIndex}}{{::tabIndex}}' class='tph-innercard-tabs' ng-repeat='tab in card.tabs' ng-init="tabIndex=$index">
                <div class='tph-innercard-status' ng-click='tph.showPanel({::cardIndex},{::tabIndex},tab.status)'>
                    <i class="fa fa-circle" ng-class="{'tph-circle-red': tab.status===1,'tph-circle-orange': tab.status===2,'tph-circle-green': tab.status===3}" aria-hidden="true"></i>
                    <div class="tph-innercard-label">{{tab.name}}</div>
                </div>
                <div id='nib{{::cardIndex}}{{::tabIndex}}' class='nib-wrapper nib-cntr' ng-class="{'nib-hide' : tph.nib[{{::cardIndex}}][{{::tabIndex}}]==0}">
                    <div class='nib'></div>
                </div>
            </div>
        </div>
        <div id="btmCard{{::cardIndex}}{{::tabIndex}}" ng-repeat='tab in card.tabs' ng-init="tabIndex=$index" class='tph-bottom-innercard' ng-show="tph.showBtmCard[{{::cardIndex}}][{{::tabIndex}}]===1">
            <div style='padding-left: 10px;'>
                Card: {{::card.name}} | Index: {{::cardIndex}} <br/> Tab: {{::tab.name}} | Index: {{::tabIndex}}<br/>
                <em><i>Replace content in this tab with desired information.</i></em>
            </div>
        </div>
    </div>
</div>