$pe-brand-primary:#337ab7 !default;
.single-bar-widget {
  padding: 10px;
  padding-bottom: 40px;
  margin-top: 20px;
  color: $pe-brand-primary;
  .nums-texts {
    padding-left: 10px;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .green-text {
      color: #2abd68;
    }
    .red-text {
      color: #ff3d00;
    }
    .left-side {
      display: flex;
      align-items: center;
      p {
        margin-bottom: 0px;
        line-height: 1;
      }
      img {
        height: 31px;
      }
    }
  }
  .bar-graph {
    width: 100%;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
    .bars {
      float: left;
      position: relative;
      height: 10px;
      -webkit-transition: width .6s ease;
      -o-transition: width .6s ease;
      transition: width .6s ease;
      .inner-bar {
        height: inherit;
        margin-right: 1px;
        border-radius: 2px;
      }
      .legend {
        position: absolute;
        top: 10px;
        p {
          margin-bottom: 0px;
          line-height: 1;
        }
      }
    }
  }
}