.personal-items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 180px;
  padding: 0 40px;
  background-size: cover;
}

a {
  color: #fff;
}