$pe-blue-color: #268cf8 !default;
.signature-div {
    max-height: 97%;
    height: 100%;
    bottom: 0%;
    overflow: auto;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    //top: 0px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    .encloser {
        position: relative;
        color: #81878e;
        text-align: center;
        .title {
            text-transform: uppercase;
            font-size: 18px;
            padding-bottom: 10px;
        }
        .user {
            font-size: 12px;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        .svg-icon-close {
            width: 30px;
            height: 30px;
            stroke: #81878e;
            fill: #81878e;
            position: absolute;
            top: 0px;
            right: 10px;
        }
        .svg-icon-sign {
            width: 55px;
            height: 55px;
            stroke: $pe-blue-color;
            fill: $pe-blue-color;
            margin-bottom: 20px;
        }
        .date-sign {
            //padding: 20px;
            background: $pe-blue-color;
            //margin: 10px;
            border-radius: 6px;
            max-height: 160px;
            position: relative;
            padding: 30px 20px;
            //overflow: auto;
            margin: 10px;
            //overflow: hidden;
            transition: all 1s;
            &.sign-done {
                max-height: 120px;
                padding: 20px;
                overflow: auto;
                margin: 10px;
            }
            .msg {
                font-size: 24px;
                color: #fff;
                font-weight: 300;
                padding: 15px;
            }
            .flex-it {
                display: flex;
                align-items: center;
            }
            .triangle-down {
                width: 0;
                position: absolute;
                height: 0;
                /* z-index: 1500; */
                bottom: -10px;
                left: 49%;
                border-left: 6px solid transparent;
                border-right: 5px solid transparent;
                border-top: 10px solid $pe-blue-color;
            }
            .date {
                width: 50%;
                font-size: 24px;
                color: #fff;
                font-weight: 300;
                padding: 15px;
                padding-left: 0px;
            }
        }
        .sign-donut {
            border-left: 0.5px solid #fff;
            width: 50%;
        }
        .sign-section {
            background: #268cf8;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 15px;
            padding-right: 0px;
            .percent {
                font-size: 18px;
                font-weight: 600;
                color: #fff;
            }
        }
        .card {
            background: #fff;
            padding: 0px;
            .donut-chart {
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                .slice {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .chart-center {
                    position: absolute;
                    border-radius: 50%;
                }
                .chart-center span.in-progress {
                    display: block;
                    text-align: center;
                }
                .chart-center span.complete {
                    display: block;
                    text-align: center;
                    //font-size: 11px;
                    //line-height: 20px;
                    color: $pe-blue-color;
                    font-family: arial;
                    -ms-transform: scaleX(-1) rotate(-35deg);
                    /* IE 9 */
                    -webkit-transform: scaleX(-1) rotate(-35deg);
                    /* Chrome, Safari, Opera */
                    transform: scaleX(-1) rotate(-35deg);
                    &:after {
                        content: "L";
                    }
                }
            }
            .chart {
                width: 40px;
                height: 40px;
                background: #C8E2FC;
                .chart-center-inprogress {
                    top: 13px;
                    left: 13px;
                    width: 14px;
                    height: 14px;
                    background: #fff;
                }
                .chart-center-complete {
                    top: 10px;
                    left: 10px;
                    width: 20px;
                    height: 20px;
                    background: #fff;
                }
            }
        }
        .card {
            background: $pe-blue-color;
            padding: 0px;
            .donut-chart {
                .chart-center span.complete {
                    display: block;
                    text-align: center;
                    color: #fff;
                    font-family: arial;
                    -ms-transform: scaleX(-1) rotate(-35deg);
                    /* IE 9 */
                    -webkit-transform: scaleX(-1) rotate(-35deg);
                    /* Chrome, Safari, Opera */
                    transform: scaleX(-1) rotate(-35deg);
                    &:after {
                        content: "L";
                    }
                }
            }
            .chart {
                .chart-center-complete {
                    top: 10px;
                    left: 10px;
                    width: 20px;
                    height: 20px;
                    background: $pe-blue-color;
                }
            }
        }
    }
}