<svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
  <symbol id="icon-location" width="20" height="26" viewBox="0 0 20 26">
    <path d="M9.68 26C8.133 26 0 14.826 0 9.68 0 4.37 4.37 0 9.68 0c5.311 0 9.682 4.37 9.682 9.68C19.362 14.827 11.23 26 9.68 26zm0-24.894c-4.701 0-8.574 3.873-8.574 8.575 0 4.702 7.192 14.162 8.575 15.157 1.383-.995 8.574-10.51 8.574-15.157 0-4.702-3.872-8.575-8.574-8.575z"/>
    <path d="M9.68 13.83c-2.267 0-4.148-1.881-4.148-4.15 0-2.267 1.88-4.148 4.149-4.148 2.268 0 4.149 1.88 4.149 4.149 0 2.268-1.881 4.149-4.15 4.149zm0-7.192c-1.659 0-3.042 1.383-3.042 3.043 0 1.66 1.383 3.042 3.043 3.042 1.66 0 3.042-1.383 3.042-3.042 0-1.66-1.383-3.043-3.042-3.043z"/>
  </symbol>
  <symbol id='icon-arrow' width="23" height="12" viewBox="0 0 23 12">
    <path fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M1.438.429L11.501 11.57 21.563.43"/>
  </symbol>
</svg>
<div class="appointment-scheduler row">
    <h3>{{c.options.title}}</h3>
    <div class="col-xs-12 remove-padding-left slot-selector">
        <div class='appt-datepicker'>
            <p class="input-group">
                <input type="text" class="form-control uidatepicker" uib-datepicker-popup ng-model="c.selectedDate" is-open="c.datePickerPopup.opened" datepicker-options="c.dateOptions" ng-required="true" close-text="Close" ng-change="c.getTimeSlots(c.selectedDate)"
                    ng-click="c.openDatePickerPopup()" />
                <span class='appt-dateformatted' ng-click="c.openDatePickerPopup()">{{c.dateFormatted}}</span>
                <span class='appt-change' ng-click="c.openDatePickerPopup()">CHANGE</span>
            </p>
        </div>
        <!--#####################Chiclet#################################################-->
        <div class="chiclets" ng-if="c.options.layout == 'Chiclets'">
            <p class="no-slots" ng-show="c.timeSLots.length == 0">
                -- No appointments available for selected date --
            </p>
            <button class="btn btn-slots" ng-class="{'disabled':slot.taken == 'yes','btn-selected':c.selectedSlot.date_time == slot.date_time }" ng-click="c.selectedSlot = slot" ng-repeat="slot in c.timeSLots">{{slot.time_slot}}</button>
        </div>
        <!--##########################Dropdown #########################################-->
        <div class="form-group col-md-12 remove-padding-left" ng-if="c.options.layout == 'Dropdown'">
            <p class="no-slots" ng-show="c.timeSLots.length == 0">
                -- No appointments available for selected date --
            </p>
            <select ng-show="c.timeSLots.length != 0" class="form-control" ng-options="slot as slot.time_slot for slot in c.timeSLots" ng-model="c.selectedSlot"></select>

        </div>

        <!--##################### Timecards #################################################-->
        <div class="chiclets" ng-if="c.options.layout == 'Timecards'">
            <p class="no-slots" ng-show="c.timeSLots.length == 0">
                -- No appointments available for selected date --
            </p>
            <div class="time-card-container">
                <div class="time-cards" ng-class="{'btn-selected':c.selectedSlot.date_time == slot.date_time }" ng-click="c.selectedSlot = slot" ng-repeat="slot in c.timeSLots">
                    <p>{{slot.time_slot}}</p>
                    <i ng-if="c.selectedSlot.date_time == slot.date_time" class="fa fa-2x fa-clock-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!--################## SHORT  DESCRIPTION ############################-->
        <div ng-if="c.options.show_short_description === 'true'" class='appt-field' ng-class="{'appt-field-placeholder' : c.appntShortDescription.length === 0}">
            <textarea ng-model='c.appntShortDescription' placeholder='Short description'></textarea>
        </div>
        <!--################## DESCRIPTION ############################-->
        <div ng-if="c.options.show_description === 'true'" class='appt-field' ng-class="{'appt-field-placeholder' : c.appntDescription.length === 0}">
            <textarea ng-model='c.appntDescription' placeholder='Description'></textarea>
        </div>
        <!--################## LOCATION ############################-->
        <div class="appt-field" ng-if="c.options.show_location === 'true'">
            <input id="autocomplete-input" ng-class="{'appt-field-placeholder' : !c.appntLocation}" typeahead-on-select="c.locationChosen($item)" type="text" ng-model="c.appntLocation" uib-typeahead="location as location.name for location in c.getLocations($viewValue)"
                typeahead-no-results="noResults" class="autocomplete" placeholder="Location">
        </div>
        <!--################## REMINDER ############################-->
        <div class='remind-container' ng-if="c.options.allow_reminders === 'true'">
            <div class='row'>
                <div class='switch-part'>
                    <div class="form-group" ng-show="c.timeSLots.length > 0">
                        <div class="input-switch">
                            <input ng-model="c.setReminder" type="checkbox">
                            <label aria-hidden="true" class="switch" ng-click='c.setReminder = !c.setReminder' for="setReminder"></label>
                            <label aria-hidden="true" class="switch-label" ng-click='c.setReminder = !c.setReminder'>Set Reminder</label>
                        </div>
                    </div>
                </div>
                <div class='time-selector'>
                    <div class='fade' ng-class="{'in':c.setReminder===true}">
                        <select class="form-control reminder-select" ng-options="time as time.label.display_value for time in c.data.reminderTimes" ng-model="c.selectedReminderTime"></select>
                        <label aria-hidden="true" class="reminder-select-label"> prior.</label>
                    </div>
                </div>
            </div>
        </div>
        <button id='btnContinue' class="btn btn-primary btn-submit" ng-class="{'disabled':!c.selectedSlot}" ng-click="c.submitTimeSlot(c.selectedDate,c.selectedSlot.date_time)">Submit</button>

        <div class="alert alert-div alert-success" ng-show="c.alertSuccess">
            <span class="close" ng-click="c.alertSuccess = false">x</span>
            <p>You are all set. See you on {{c.dateFormatted}}.</p>
        </div>
    </div>
</div>