.my-weather{
  padding:10px;
    .city{
      font-weight:bold;
      font-size:16px;
    }
    .weather-deets{
      .temp{
      font-weight:bold;
      }
      .max-min{
        margin-left:10px;
      }
      .max{
        margin-left:5px;

      }
      .min{
      margin-left:5px;
      }
    }
  }