$pe-timeline-items-color: #ff6f00 !default;
.heading {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .left-side {
        display: flex;
        align-items: center;
        .people-card-media {
            float: left;
            margin: 0px;
            padding: 0px 10px 0px 0px;
            .media-body {
                width: 100%;
            }
            .media-left {
                //  width: 60px;
                .list__photo {
                    width: 35px;
                    height: 35px;
                }
                .initials-badge {
                    min-width: 36px;
                    float: left;
                    margin-top: 0px;
                    border-radius: 50%;
                    line-height: 1;
                    font-size: 14px;
                    margin-left: 0px;
                    padding: 10px 10px;
                    font-weight: 300;
                    background: #AEB2B3;
                }
            }
        }
    }
    .text {
        font-size: 18px;
        color: #fff;
        font-weight: normal;
    }
    .remaining {
        font-size: 15px;
        color: #fff;
        display: flex;
        align-items: center;
        .badge {
            background: #fff;
            color: #fff;
            margin-right: 5px;
            padding: 5px 8px;
        }
    }
}

.panel-wrapper {
    margin-bottom: 10px;
}

.panel-proper {
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow 0.5s;
}

.timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 1.6em;
    height: 1.6em;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    float: left;
    position: absolute;
    top: 0px;
    left: -9px;
    &:first-child {
        margin-left: -5px;
    }
    &.red {
        background: #f95050 !important;
    }
    &.green {
        background: #53c25b !important;
    }
}

.tl-icon {
    color: #fff;
    position: absolute;
    top: 1px;
    left: -6px;
    text-align: center;
}

.panel-content {
    .only-content {
        background: #f5f5f5;
        padding: 12px;
    }
    .btn {
        padding: 15px;
        text-align: center;
        border-bottom: 3px solid #278efc;
        width: 100%;
        p {
            color: #278efc;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .signature {
        display: flex;
        align-items: center;
        margin-top: 10px;
        .svg-icon {
            width: 32px;
            height: 32px;
            fill: #278efc;
            stroke: #278efc;
        }
        p {
            display: inline-block;
            margin-left: 5px;
            color: #278efc;
        }
    }
}

.left-description {
    font-size: 14px;
    //opacity: 0.7;
    display: inline-block;
    width: 40px;
    vertical-align: top;
}

.tl-item {
    font-size: 14px;
    //opacity: 0.7;
}

.left-description {
    display: inline-block;
    width: 40px;
    vertical-align: top;
}

.tl-item:last-child {
    opacity: 1;
    .right-content {
        border-left-color: rgba(0, 0, 0, 0);
    }
}

.right-content {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 83%;
    border-left: 2px solid #cecece;
    padding: 0 5px 5px 20px;
    span.complete {
        display: block;
        text-align: center;
        color: #fff;
        margin-top: 1px;
        font-family: arial;
        -ms-transform: scaleX(-1) rotate(-35deg);
        -webkit-transform: scaleX(-1) rotate(-35deg);
        transform: scaleX(-1) rotate(-45deg);
    }
    span.complete:after {
        content: "L";
    }
    .attn-text {
        p {
            margin: 0px;
        }
        .attn-top {
            text-transform: uppercase;
            color: #f95050;
            margin-right: 5px;
            font-weight: bold;
            .fa {
                margin-left: 5px;
            }
        }
        .attn-sub {
            font-size: 12px;
            color: #696d71;
        }
    }
    .dept-contact {
        .badge {
            background: #fff;
            border-radius: 4px;
            color: #696d71;
            text-transform: uppercase;
            font-size: 15px;
            margin-right: 10px;
        }
        p {
            font-size: 15px;
            color: #696d71;
            display: inline-block;
        }
    }
}

.right-content>* {
    margin-bottom: 8px;
    font-size: 15px;
    color: #696d71;
}

.right-content-title {
    margin-left: 3px;
    font-size: 15px;
    color: #696d71;
}