.scroll-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  width: 100%;
}

.cards {
  margin-top: 15px;
  h3 {
    color: #485563;
    font-size: 16px;
    font-weight: 600;
  }
}

.modernizeit-no-bg-color-square {
  .scroll-wrapper {
    display: flex;
    padding-bottom: 15px;
  }
  .item {
    background-color: transparent;
    border-right: solid 1px #ccc;
    box-shadow: none;
    flex-shrink: 0;
    margin: 0;
    padding: 15px 5px 5px 5px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 90px;
    img {
      height: 37px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      border: none;
    }
    .content {
      color: #5a5d61;
      margin-top: 15px;
    }
  }
}