<svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
  <symbol id='icon-trash' width="20" height="22" viewBox="0 0 20 22">
    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
      <path d="M3.083 3.917h13.333v16.667H3.083zM6.417 1.417h6.667v2.5H6.417zM1 3.917h18.333M6.417 6.833v10M9.75 6.833v10M13.083 6.833v10"/>
    </g>
  </symbol>
</svg>
	<div class="upcoming-appointments">
            <div class='col-xs-12'>
                <div class='ghost-container'>
                    <div class='appt-title'>{{c.options.title}}</div>
                </div>
                <div class='ghost-container' ng-show="c.noAppointments">
                    <div class='appt-subtitle'>You have no scheduled appointments.</div>
                </div>
                <div class='ghost-container'>
                    <div class='appt-container' ng-repeat='item in c.currentUserAppointments track by $index'>
                        <div class='appt-box' ng-show='c.toggleDelete[item.sys_id].show'>
                            <div class='appt-when'>
                                <div class='appt-weekday'>{{item.weekday}}</div>
                                <div class='appt-datetime'>{{item.day}}</div>
                            </div>
                            <div class='appt-where-location' ng-if="c.options.show_location == 'true'">
                                <div class='appt-site'>{{item.location_name}}</div>
                                <div class='appt-datetime'>{{item.time}}</div>
                            </div>
                            <div class='appt-where-time' ng-if="c.options.show_location != 'true'">
                                <div class='appt-datetime'>{{item.time}}</div>
                            </div>
                             <div class='appt-short-description' ng-if="c.options.show_short_description == 'true'">
                                <div class='appt-short-description-font'>{{item.short_description}}</div>
                            </div>
                            <div class='appt-tools'>

                                    <svg class="appt-icon" ng-click='c.removeAppt(item.sys_id)'>
                                    <use xlink:href='#icon-trash'></use>
                                    </svg>
														</div>
											</div>
							<div class='row appt-box appt-delete' ng-show='c.toggleDelete[item.sys_id].confirm'>
   						<div class='col-xs-12 text-center'>
                <input type='button' class='btn btn-cancel' value='CANCEL' ng-click='c.cancelAppt(item.sys_id)' />
                <input type='button' class='btn btn-delete' value='YES, DELETE!' ng-click='c.deleteAppt(item.sys_id)' />
   						</div>
					</div>
			</div>
	</div>
</div>


</div>