h1 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
  line-height: 24px;
}

.dark-header {
  background-image: url('/pe-enduser-background.jpg');
  margin: 0 -15px;
  h1,
  h2,
  h3,
  h4,
  p {
    color: white;
  }
  .logo {
    margin-top: 18px;
  }
  height: 208px;
  height: 208px;
}