.navbar {
    transition: 250ms opacity ease-in-out;
    -webkit-transition: 250ms opacity ease-in-out;
    border: 0;
    border-bottom: 4px solid $sp-navbar-divider-color;
  }
  
  .navbar-fade {
    opacity: 0.4;
  }
  
  .navbar-inverse .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.25);
  }
  
  header[role="banner"],
  .nav > li > a {
    max-height: 60px;
  }
  
  @media screen and (max-width: 768px){
    .nav > li > a {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  
  .navbar-brand {
    max-height: 60px;
    padding: 0;
    padding-bottom: 0.5rem;
  }
  
  .navbar-brand img, .navbar-brand span {
    margin-left: $sp-logo-margin-x;
    margin-right: $sp-logo-margin-x;
    margin-top: $sp-logo-margin-y;
    margin-bottom: $sp-logo-margin-y;
    display: block;
    max-height: $sp-logo-max-height;
    max-width: $sp-logo-max-width;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .breadcrumb-container {
    background-color: $panel-bg;
  }
  
  /* for mobile app */
  .navbar-inverse.is-native {
    background-color: #405060;
  }
  
  nav {
    margin-bottom: 0px;
    border-radius: 0px;
  
    .toggle-dropdown {
      height: 60px;
    }
  
  }
  
  .navbar-right {
    padding-right: 0px;
    padding-left: 7px;
  }
  
  .navbar-nav {
    margin: 0px;
  }
  
  // PRB711244: Dropdown menu is scrollable when too many items
  .scrollable-dropdown {
    max-height: 80vh;
    overflow: auto;
    height: auto;
  }
  
  .is-native {
    .scrollable-dropdown {
      max-height: 100vh;
      overflow: scroll;
      height: auto;
    }
  }
  
  
  /* PRB923910: Fix for Service Portal - Header Poorly Aligned in Safari */
  @media screen and (min-width: 768px) {
    .navbar-right {
      display: flex !important;
    }
  }
  
  /* FLYOUT ADDITION */
  .popovers {
    position: fixed;
    right: 0;
    top: 600px;
    z-index: 1000;
  }
  
  .flyout-panel {
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 100;
    height: auto;
    width: 40px;
    background-color: $navbar-inverse-bg;
    border-radius:3px;
    padding: 12px;
  }
  
  .tooltip {
    margin-left: -60px;
  }
  
  .popover {
    width: 100px;
  }
  
  
  .fa-sidepanel {
    color: $navbar-inverse-link-color;
    font-size: 3rem;
    margin-left: -5px;
  }
  
  .fa-bug {
    margin-bottom: 10px;
  }