$pe-status-color-danger: #6b0022 !default;
$pe-badge-danger: #a40034 !default;
$pe-background-header-danger: #dd0047 !default;
$pe-background-body-danger: #be003d !default;

.problem-message {
  .badge {
    background-color: $pe-badge-danger;
    border-radius: 100px;
    float: right;
    font-size: 12px;
    font-weight: normal;
    height: 28px;
    margin-top: -5px;
    min-width: 76px;
    padding-top: 7px;
    text-transform: lowercase;
  }
  .panel {
    color: #fff;
    .panel-heading {
      border-bottom: 0;
      color: #fff;
      font-size: 12px;
      padding: 14px;
      text-transform: uppercase;
    }
    .panel-body {
      .status-circle-small-left {
        background: $pe-status-color-danger;
        border-radius: 10px;
        float: left;
        height: 10px;
        margin: 5px 10px 0 0;
        width: 10px;
      }
    }
    .panel-header-high-risk {
      background-color: $pe-background-header-danger;
    }
    .panel-body-high-risk {
      background-color: $pe-background-body-danger;
      font-size: 15px;
      font-weight: 400;
      padding-bottom: 5px;
      .status-message {
        font-weight: 100;
        margin-left: 20px;
      }
    }
  }
}