<!-- This is the svg icon for the close icon -->
<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve" id="icon-close"
    stroke="none" stroke-width="1" fill-rule="evenodd">
    <g>
      <polygon points="83.2,12.5 49.7,46.1 16.1,12.5 11.9,16.8 45.4,50.3 11.9,83.9 16.1,88.1 49.7,54.6 83.2,88.1 87.5,83.9 53.9,50.3    87.5,16.8  "></polygon>
    </g>
  </symbol>
</svg>
<!-- svg icon ends here -->

<div class="emoji-rating" ng-show="c.showSurvey">
  <svg class="svg-icon" ng-click="c.closeSurvery()">
    <use xlink:href='#icon-close'></use>
  </svg>
  <div class="step-one" ng-click="c.stepId='two'" ng-show="c.stepId == 'one'">
    <p class="message">{{data.stepone_text}}</p>
    <i class="fa fa-bell-o" aria-hidden="true"></i>
  </div>
  <div class="step-two" ng-show="c.stepId == 'two'">
    <p class="message">{{data.steptwo_text}}</p>
    <i ng-click="c.chosenFeedback('good','fa-smile-o')" class="fa fa-smile-o" aria-hidden="true"></i>
    <i ng-click="c.chosenFeedback('ok','fa-meh-o')" class="fa fa-meh-o" aria-hidden="true"></i>
    <i ng-click="c.chosenFeedback('bad','fa-frown-o')" class="fa fa-frown-o" aria-hidden="true"></i>
  </div>
  <div class="step-three" ng-show="c.stepId == 'three'">
    <p class="message">{{data.stepthree_text}}</p>
    <div class="flex-it">
      <i class="fa animated rubberBand" ng-class="c.selectedIcon" aria-hidden="true"></i>
      <p ng-show="c.selectedIcon == 'fa-smile-o'" class="rand">{{c.goodrandom}}%</p>
      <p ng-show="c.selectedIcon == 'fa-meh-o'" class="rand">{{c.badrandom}}%</p>
      <p ng-show="c.selectedIcon == 'fa-frown-o'" class="rand">{{c.badrandom}}%</p>
    </div>
  </div>
</div>