h1 {
  font-size: 24px;
}

.links-title {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}

.related-links {
  margin-top: 15px;
  margin-top: 15px;
}

.take-pic {
  overflow: hidden;
  marign-top: 10px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  margin: 0 auto;
}
