.location-wrapper {
  display: flex;
  color: #2e2e2e;
  >div {
    flex-grow: 1;
    flex-basis: 0;
  }
  .map {
    display: flex;
    .img-responsive {
      margin: 0 auto;
    }
  }
  .status-wrapper {
    display: flex;
    flex-direction: column;
    .status {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      .value {
        font-size: 42px;
        font-weight: 300;
        .big-number {
          float: left;
        }
        .side-note {
          margin-top: 15px;
          margin-left: 5px;
          float: left;
          font-size: 10px;
          color: #b4b2b3;
        }
        &.positive svg {
          fill: #70be5a;
        }
        &.negative svg {
          fill: #e51b24;
        }
      }
      .description {
        font-size: 12px;
        font-weight: 500;
        color: #b4b2b3;
      }
    }
    svg {
      width: 20px;
      height: 13px;
    }
  }
}