$slate: #485563;
$mango: #fe8a30;
$orange: #ff6f00;
$medium-green: #34ba3d;
$lightish-green-two: #6ce474;

$text-color: $slate !default;

$status-alert-color: $orange !default;
$status-alert-gradient: linear-gradient($mango, $orange) !default;
$status-recovered-color: $medium-green !default;
$status-recovered-gradient: linear-gradient($lightish-green-two, $medium-green) !default;

.status-wrapper {
	margin: -10px -15px 0 -15px;
}

.status-box {
	background: $status-alert-gradient;
	color: #fff;
	fill: #fff;
  margin-bottom: 10px;
  padding: 15px 23px;
  .title {
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.pill {
		background-color: #fff;
		color: $status-alert-color;
		display: inline-block;
		font-size: 14px;
		padding: 1px 8px;
		border-radius: 14px;
		margin: 5px 0;
	}
}

.recovered {
	.status-box {
		background: $status-recovered-gradient;
		.pill {
			color: $status-recovered-color;
		}
	}
}

.status-row {
	height: 125px;
}
.status-key {
	float: left;
	width: 140px;
}
.status-detail {
	padding-top: 20px;
	.status-time {
		display: inline;
		font-size: 24px;
	}
}

.big-icon {
	margin: 15px auto;
	height: 100px;
	width: 100px;
	text-align: center;
	border-radius: 50px;
	border: 10px solid #fff;
	fill: #fff;
	.svg-wrapper {
		position: relative;
		vertical-align: top;
		top: 15px;
		width: 50px;
		height: 50px;
	}
}

// HIGHCHART

.highcharts-axis, .highcharts-axis-labels, .highcharts-data-label-box, .highcharts-text-outline {
	visibility: hidden;
}

// SPINNER

.spinny {
  display: inline-block;
  margin-right: 5px;
}
.spinny > div {
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  vertical-align: 10%;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}