.critical-border {
    border-left: solid 4px #e73c3c !important;
}

.summary-wrapper {
    border: solid 1px #e4e5e6;
    border-left: solid 4px #f0ad4e;
    .row1 {
        padding: 15px;
    }
    .title {
        font-size: 16px;
        font-weight: 500;
        color: #65666a;
    }
    .description {
        font-size: 12px;
        color: #63585e;
    }
    .status1 {
        font-size: 12px;
        color: #2e2e2e;
    }
    .status2 {
        font-size: 10px;
        font-weight: 500;
        color: #b4b2b3;
    }
}