$pe-button-color: #d1232b !default;
$pe-button-state-color: #c42229 !default;

input {
  border: none;
  border-bottom: solid 1px #cecece;
}

.form-verify {
  margin-top: 25px;
  padding: 0 35px;
}

.full-width {
  margin: 15px -15px;
  button {
    border-color: $pe-button-color;
    border-radius: 0;
    width: 70%;
    background-color: $pe-button-color;
    font-size: 16px;
  }
  button:active,
  button:hover {
    background-color: $pe-button-state-color;
    border-color: $pe-button-state-color;
  }
}