$slate: #485563;

$icon-circle-color: #7e848b !default;
$good-color: #3abe43 !default;
$bad-color: #ff402c !default;

.panel-wrapper {
	margin-bottom: 10px;
}
.panel-proper {
	background-color: #fff;
	border-radius: 5px;
	transition: box-shadow 0.5s;
	position: relative;
}
.panel-header {
	position: relative;
	padding: 7px 12px;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 0.5px solid #7E848B;
}

.panel-content {
	padding: 12px;
}

.title-icon {
	display: inline-block;
	background-color: $icon-circle-color;
	width: 22px;
	height: 22px;
	fill: #fff;
	color: #fff;
	text-align: center;
	border-radius: 11px;
	margin: 0 2px;
	font-weight: 400;
	&:first-child {
		margin-left: -5px;
	}
}

.scroll-wrapper {
  margin: 10px -12px 0 -12px;
  position: relative;
}
.scroll {
  width: 100%;
  padding-left: 12px;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.scroll-item {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  background: #fff;
  margin-right: 12px;
  width: 150px;
  height: 250px;
  // border-radius: 5px;
  text-align: center;
  border: 0.5px solid rgba(72, 85, 99, 0.5);
  // padding: 20px;
  font-size: 15px;
  margin-bottom: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  cursor: pointer;
}

.scroll-item-header {
  background-color: $slate;
  padding: 15px 15px 5px 15px;
  .action-key {
    fill: #fff;
    color: #fff;
  }
  .action-title {
    color: #fff;
  }
}
.scroll-item-body {
  padding: 5px 15px 15px 15px;
  line-height: 1.3;
}
.action-key {
  font-size: 50px;
  line-height: 1;
}
.action-title {
  font-size: 18px;
}
.action-subtitle {
  font-weight: 600;
  margin-top: 5px;
}
.action-subtitle-smaller {
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

.color-by-status-good {
	color: $good-color;
	font-weight: bold;
}
.color-by-status-bad {
	color: $bad-color;
	font-weight: bold;
}