.pe-travel-card {
  .reminder {
    position: relative;
    margin-top: 20px;
    padding: 15px;
    background-color: #f5f5f5;
    float: left;
    width: 100%;
    color: #5a5d61;
    a {
      color: #5a5d61;
    }
    &.cancel {
      text-align: center;
      padding-top: 35px;
      padding-bottom: 35px;
      h2 {
        font-size: 24px;
        color: #c0351d;
        margin-top: 50px;
        margin-bottom: 0;
      }
      svg {
        position: absolute;
        margin-left: -50px;
      }
    }
  }
  .icon {
    position: absolute;
    top: 25px;
  }
  .description-wrapper {
    padding-left: 65px;
    font-size: 15px;
  }
  ul {
    margin-top: 20px;
    font-size: 14px;
    padding: 0;
    li {
      position: relative;
      list-style: none;
      float: left;
      width: 33%;
      text-align: center;
      padding: 0 10px;
      &.change svg {
        top: 3px;
      }
      a {
        padding-left: 15px;
      }
      svg {
        position: absolute;
        top: -1px;
        margin-left: -25px;
      }
    }
  }
  .highlight {
    font-weight: 600;
    color: #0f888f;
  }
}