<div ng-if="::!data.isValid && !data.emptyStateTemplate" class="panel panel-default">
    <div class="panel-body wrapper-lg text-center">
      <span ng-if="!data.tableUnsupported">${Record not found}</span>
      <span ng-if="data.tableUnsupported">${Form view not supported for requested table}</span>
    </div>
  </div>
  
  <div ng-if="!data.isValid && data.emptyStateTemplate" class="panel-shift">
    <div class="empty-state-wrapper panel panel-default" ng-include="data.emptyStateTemplate"></div>
  </div>
  
  <div ng-if="data.isValid" class="panel-shift">
    <div class="" ng-if="!data.f._view.length && data.hideRelatedLists && data.emptyStateTemplate">
      <div class="empty-state-wrapper panel panel-default" ng-include="data.emptyStateTemplate"></div>
    </div>
  
    <div class="" ng-if="!data.f._view.length && data.hideRelatedLists && !data.emptyStateTemplate">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="panel-title">{{data.f.title}}</span> <span ng-if="::options.showFormView == 'true' && data.f.view != ''">[{{data.f.view_title}} view]</span></div>
        <div class="panel-body wrapper-lg text-center">
          ${No elements to display}
        </div>
      </div>
    </div>
  
    <div ng-show="isPageReady" class="panel panel-default" ng-if="::data.f._view.length || !data.hideRelatedLists" >
      <div class="panel-heading" ng-if="data.f.title.length" sp-context-menu="getUIActionContextMenu(event)">
            <span class="dropdown m-r-xs" ng-if="(data.isAdmin || getUIActions('context').length > 0) && options.omitHeaderOptions != 'true'">
              <button aria-label="${Form menu}" class="btn btn-form-menu dropdown-toggle glyphicon glyphicon-menu-hamburger" style="line-height: 1.4em" id="adminMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <ul class="dropdown-menu" aria-labelledby="adminMenu">
                <li ng-if="::data.isAdmin"><a ng-href="/{{::data.f.table}}.do?sys_id={{data.f.sys_id}}&sysparm_view={{data.f.view}}" target="_blank">${Open in platform}</a></li>
                <li ng-if="::data.isAdmin" class="dropdown-header">${Configure}</li>
                <li ng-if="::data.isAdmin"><a href="/slushbucket.do?sysparm_referring_url={{adminMenu.encodedPageUrl}}&sysparm_list={{data.f._sections[0].id}}&sysparm_form=section&sysparm_view={{data.f.view}}" target="_blank">${Form Layout}</a></li>
                <li ng-if="::data.isAdmin"><a href="/slushbucket.do?sysparm_referring_url={{adminMenu.encodedPageUrl}}&sysparm_list={{data.f.table}}&sysparm_form=related_list&sysparm_view={{data.f.view}}" target="_blank">${Related Lists}</a></li>
                <li ng-if="::data.isAdmin"><a href="?id=lf&table=sys_ui_policy&filter=table%3D{{data.f.table}}%5EORtableIN{{data.tableHierarchy}}%5Eactive%3Dtrue%5Eui_type%3D1%5EORui_type%3D10" ng-click="openRelatedList($event, {id:'lf', table: 'sys_ui_policy', filter: 'table%3D{{data.f.table}}%5EORtableIN{{data.f.table}},sys_metadata%5Eactive%3Dtrue%5Eui_type%3D1%5EORui_type%3D10'})">${UI Policies} <span class="badge pull-right" ng-if="f.policy.length">{{f.policy.length}}</span></a></li>
                <li ng-if="::data.isAdmin"><a href="?id=lf&table=sys_script_client&filter=table%3D{{data.f.table}}%5EORtableIN{{data.tableHierarchy}}%5Eactive%3Dtrue%5Eui_type%3D1%5EORui_type%3D10" ng-click="openRelatedList($event, {id: 'lf', table: 'sys_script_client', filter: 'table%3D{{data.f.table}}%5EORtableIN{{data.f.table}},sys_metadata%5Eactive%3Dtrue%5Eui_type%3D1%5EORui_type%3D10'})">${Client Scripts} <span class="badge pull-right" ng-if="adminMenu.getClientScriptCount()">{{adminMenu.getClientScriptCount()}}</span></a></li>
                <li ng-if="getUIActions('context').length > 0 &&  data.isAdmin" role="separator" class="divider"></li>
                <li ng-repeat="action in getUIActions('context')"><a href="" ng-click="triggerUIAction(action)">{{action.name}}</a></li>
                <li ng-if="::data.isAdmin || getUIActions('context').length > 0" role="separator" class="divider"></li>
                <li><a target="_new" href="/{{data.f.table}}.do?PDF&sys_id={{data.sys_id}}&sysparm_view={{data.f.view}}">${Export to PDF}</a></li>
                <li><a target="_new" href="/{{data.f.table}}.do?PDF&landscape=true&sys_id={{data.sys_id}}&sysparm_view={{data.f.view}}">${Export to PDF (landscape)}</a></li>
              </ul>
          </span>
        <span class="panel-title" aria-label="{{data.f.title}}">{{data.f.title}}</span> <span ng-if="::options.showFormView == 'true' && data.f.view != ''">[{{data.f.view_title}} view]</span>
        <div ng-if="::attachmentHandler && data.canAttach" title="{{::data.addAttachmentMsg}}" class="pull-right attachment-button">
            <sp-attachment-button></sp-attachment-button>
        </div>
      </div>
      <div class="panel-body">
        <!-- performance debug -->
        <div ng-if="data.show_sql">
          <div class="comment">
            <span ng-if="data.f._perf.sql_count">${SQL Statements {{data.f._perf.sql_count}}}, </span>
            <span>${Time {{data.f._perf.time}}}</span>
          </div>
          <div ng-repeat="s in data.f._perf.sql" class="{{s.type}}">
            {{s.statement}}
          </div>
        </div>
        <!-- attachments -->
        <sp-attachment-manager table="::data.table" sys-id="data.f._attachmentGUID" omit-edit="::!data.canAttach"></sp-attachment-manager>
        <!-- form -->
        <div>
          <sp-model form_model="data.f" mandatory="mandatory"></sp-model>
        </div>
        <!-- UI Action Links -->
        <div ng-if="getUIActions('link').length > 0">
          <label style="margin: 0;">${Related Links}</label>
          <div ng-repeat="action in getUIActions('link')">
            <a href ng-click="triggerUIAction(action)" gsft_id="{{::action.sys_id}}">{{::action.name}}</a>
          </div>
        </div>
        <!-- related lists -->
        <div ng-if="!data.hideRelatedLists">
          <label style="margin: 0">${Related Lists}</label>
          <div style="margin-bottom: 7px; padding-bottom: 7px; border-bottom: 1px solid #f5f5f5;">
            <sp-widget widget="c.data.relatedListWidget"></sp-widget>
          </div>
        </div>
      </div>
  
      <div class="panel-footer">
        <button ng-click="triggerUIAction(action)" ng-disabled="submitting" ng-repeat="action in getUIActions('button')" class="btn btn-default action-btn" gsft_id="{{::action.sys_id}}">{{action.name}}</button>
        <span>{{status}}</span>
        <button ng-if="getPrimaryAction()" type="submit" ng-click="triggerUIAction(getPrimaryAction())" ng-disabled="submitting" class="btn btn-primary action-btn pull-right" gsft_id="{{::getPrimaryAction().sys_id ? getPrimaryAction().sys_id : ''}}">${Save} <span ng-if="saveButtonSuffix">(${{{saveButtonSuffix}}})</span></button>
        <div style="clear: both;"></div>
        <div ng-if="mandatory.length" class="alert alert-info" style="margin-top: .5em" aria-live="polite" aria-atomic="true">
          <span ng-if="mandatory.length > 0">${Required information} </span>
          <span ng-repeat="f in mandatory" class="label label-danger" style="margin-right: .5em; display: inline-block;" ng-bind="f.label"></span>
        </div>
      </div>
    </div>
  </div>
  