$pe-rest-typeahead-font-size: $font-size-large !default;
$pe-rest-typeahead-text-color: $text-color !default;
$pe-rest-typeahead-input-height: $input-height-large !default;
$pe-rest-typeahead-bg: white !default;
$pe-rest-typeahead-placeholder-color: lighten($pe-rest-typeahead-text-color, 35%) !default;
$pe-rest-typeahead-max-width: 400px !default;
$pe-rest-typeahead-dim-opacity: 0.8 !default;
$pe-rest-typeahead-border-color: #82b2a0 !default;
$pe-rest-typeahead-border-radius: 0px !default;
$pe-rest-typeahead-border: 0.5px !default;
$pe-rest-typeahead-hover-color: white !default;
$pe-rest-typeahead-hover-bg: #82b2a0 !default;

.pe-rest-typeahead-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pe-rest-typeahead-search__container {
  position: relative;
  width: 100%;
  max-width: $pe-rest-typeahead-max-width;
}

.pe-rest-typeahead-search__input {
  padding: $padding-base-vertical 25px $padding-base-vertical 35px;
  box-shadow: none;
  background: unset !important;
  background-color: $pe-rest-typeahead-bg !important;
}

/* default using SASS */
.pe-rest-typeahead-search,
.pe-rest-typeahead-search-default {
  .tt-suggestion:hover {
    background-color: $pe-rest-typeahead-hover-bg;
  }

  .tt-dataset {
    border: $pe-rest-typeahead-border solid $pe-rest-typeahead-border-color;
  }

  .form-control {
    border: $pe-rest-typeahead-border solid $pe-rest-typeahead-border-color;
    border-radius: $pe-rest-typeahead-border-radius;
    font-size: $pe-rest-typeahead-font-size;
    height: $pe-rest-typeahead-input-height;
  }

  .form-control:focus {
    outline: 0;
    border-color: $pe-rest-typeahead-border-color;
    box-shadow: none;
  }

  .pe-rest-typeahead-icon {
    color: $pe-rest-typeahead-border-color;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $pe-rest-typeahead-placeholder-color;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $pe-rest-typeahead-placeholder-color;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $pe-rest-typeahead-placeholder-color;
  }

}

/* primary color */
.pe-rest-typeahead-search-primary {
  .tt-suggestion:hover {
    background-color: $brand-primary;
  }

  .tt-dataset {
    border: $pe-rest-typeahead-border solid $brand-primary;
  }

  .form-control {
    border: $pe-rest-typeahead-border solid $brand-primary;
  }

  .form-control:focus {
    border-color: $brand-primary;
  }

  .pe-rest-typeahead-icon {
    color: $brand-primary;
  }

}

/* info color */
.pe-rest-typeahead-search-info {
  .tt-suggestion:hover {
    background-color: $brand-info;
  }

  .tt-dataset {
    border: $pe-rest-typeahead-border solid $brand-info;
  }

  .form-control {
    border: $pe-rest-typeahead-border solid $brand-info;
  }

  .form-control:focus {
    border-color: $brand-info;
  }

  .pe-rest-typeahead-icon {
    color: $brand-info;
  }

}

.tt-suggestion {
  padding: $padding-base-vertical $padding-base-horizontal;
}

.pe-rest-typeahead-icon {
  position: absolute;
  top: calc(50% - 10px);
  font-size: 18px;
  left: 10px;
}

.fa-light-icon {
  -webkit-text-stroke: 1px $pe-rest-typeahead-bg;
  -webkit-font-smoothing: antialiased;
}

.pe-rest-typeahead-icon-close {
  left: unset;
  right: 10px;
  -webkit-text-stroke: 2px $pe-rest-typeahead-bg;
  -webkit-font-smoothing: antialiased;
  display: none;
}

.pe-rest-typeahead-icon-close-hide {
  display: none;
}

.pe-rest-typeahead-icon-close-show {
  display: block;
}

.tt-menu {
  padding: 0px;
  width: 100%;
}

.tt-dataset {
  max-height: 194px;
  overflow-y: scroll;
  width: 100%;
  background-color: $pe-rest-typeahead-bg;
  border-radius: $pe-rest-typeahead-border-radius;
  margin-top: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.tt-suggestion:hover {
  cursor: pointer;
  color: $pe-rest-typeahead-hover-color;
}

.twitter-typeahead {
  width: 100%;
}

.pe-rest-typeahead-search__dim {
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, $pe-rest-typeahead-dim-opacity);
  box-shadow: 0 0 0 100vmax rgba(255, 255, 255, $pe-rest-typeahead-dim-opacity);
  z-index: 9999;
  transition-timing-function: ease-out, step-end;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
