.document-acknowledge-task {
  padding-bottom: 75px;
}

.header {
  display: none;
}

#documentFrame {
  margin: 0 -15px;
  padding: 15px;
}

.pop-footer {
  position: fixed;
  bottom: 75px;
  left: 0;
  width: 100%;
}
