.avatar-large-icon {
  font-size: 5.6rem;
  line-height: 4.8rem;
}
.avatar-large,
.avatar-large-icon {
  width: 4.8rem;
  height: 4.8rem;
  vertical-align: middle;
}
.empra-select {
  display: inline-block;
  width: calc(100% - 5.8rem);
  height: 4.8rem;
  float: right;
  padding-top: 1rem;
}
.empra-inline-block {
  display: inline-block;
  margin-left: .5rem;
  vertical-align: middle;
}