.vms-status-tabs {
    .small-text {
        font-size: 10px;
        color: #595959;
        text-transform: uppercase;
    }
    .light-grey-bg {
        background: #f9f9f9;
    }
    .people-card-media {
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        margin: 0px;
        .flex-it-align-top {
            display: flex;
            justify-content: space-between;
        }
        .media-left {
            //  width: 60px;
            .list__photo {
                width: 35px;
                height: 35px;
            }
            .initials-badge {
                min-width: 36px;
                float: left;
                margin-top: 0px;
                border-radius: 50%;
                line-height: 1;
                font-size: 14px;
                margin-left: 0px;
                padding: 10px 10px;
                font-weight: 300;
                background: #AEB2B3;
            }
        }
    }
    .three-tabs {
        .orange {
            color: #e89033;
        }
        .green {
            color: #70be5a;
        }
        .red {
            color: #ff4000;
        }
        .bg-green {
            background: #70be5a !important;
        }
        .bg-red {
            background: #ff4000 !important;
        }
        .bg-orange {
            background: #e89033;
        }
        .all-tabs {
            display: flex;
            padding: 10px;
            .each-tab {
                width: 33.3%;
                float: left;
                text-align: center;
                padding: 20px 10px;
                background: #fff;
                border-bottom: 1px solid #e4e5e6;
                &.active {
                    background: #f2f2f2;
                    border-left: 0px;
                    border-bottom: 0px;
                    border-right: 0px;
                    border-bottom: 1px solid #d31a1e;
                    .name {
                        color: #d31a1e;
                    }
                }
                p {
                    margin-bottom: 0px;
                }
                .name {
                    font-size: 12px;
                    font-weight: bold;
                    color: #909090;
                    text-transform: uppercase;
                    //background: #fbfbfb;
                }
                .fa {
                    color: #b4b2b3;
                }
                .circle-badge {
                    //border-radius: 50%;
                }
            }
        }
        .tab-details {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .flex-it {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            .svg-icon {
                height: 23px;
                width: 27px;
                fill: #9C9C9C;
            }
            p {
                margin-left: 5px;
                margin-bottom: 0px;
            }
            .detail-numbers {
                font-size: 18px;
                color: #595959;
            }
        }
    }
}
